body {
  margin: 0;
  padding: 0;
  background-color: peachpuff;
}
.header {
  background-color: blueviolet;
  width: 18%;
  flex: 1;
  margin-left: 40%;
  padding: 30px;
}
.account_sammary {
  background-color: burlywood;
  width: 18%;
  flex: 1;
  margin-left: 40%;

  padding: 30px;
}
.balance {
  background-color: lightcoral;
  width: 18%;
  flex: 1;
  margin-left: 40%;

  padding: 30px;
}
.history {
  background-color: royalblue;
  width: 18%;
  flex: 1;
  margin-left: 40%;

  padding: 30px;
}
.addTransaction {
  background-color: palegreen;
  width: 18%;
  flex: 1;
  margin-left: 40%;

  padding: 30px;
}
